/*******

Theme: Hailaxian
Author: Alexander 'Hailiax' Wing
Modified: 18 Aug 2017

*******/

/* Basic setup */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
h1,h2,h3,h4,h5,h6{
	margin-top: inherit;
	margin-bottom: inherit;
	font-size: inherit;
	font-weight: inherit;
}
body,html{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
}
[docsjs-tag="DocsJS-This-Baby"]{
	color: #000;
	font-size: 22px;
	line-height: 1.4em;
	position: absolute;
	width: 100%;
	behavior: url(https://cdn.jsdelivr.net/css3pie/2.0b1/PIE.htc);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: 100%;
	-webkit-filter: invert(0%);
	filter: invert(0%);
}
[docsjs-tag="bg"]{
	background: url(https://source.unsplash.com/1600x900?sunset);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: fixed;
	height: 100%; top: 0;
	width: 100%; left: 0;
}

/* Main content */
[docsjs-tag="s-c"]{
	position: relative;
	padding: 1em;
	background-color: rgba(40,40,40,0.6);
	-pie-background:  rgba(40,40,40,0.6);
	box-shadow: 1px 1px 6px 3px rgba(0,0,0,0.15);
	margin-top: 1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	*behavior: url(https://raw.github.com/Schepp/box-sizing-polyfill/master/boxsizing.htc);
}
[docsjs-tag="s-c"] [docsjs-tag="s-c"]{
	background-color: rgba(40,40,40,0.5);
	-pie-background:  rgba(40,40,40,0.5);
}
[docsjs-tag="h-d"],[docsjs-tag="t-p"]{
	position: relative;
	margin-top: 1em;
	overflow: hidden;
	box-shadow: 1px 1px 6px 3px rgba(0,0,0,0.25);
}
[docsjs-tag="t-p"] > [docsjs-tag="s-c"]{
	border-bottom: solid 1em #FFF;
	box-shadow: none;
	margin-top: 0;
}
[docsjs-tag="t-p"] > [docsjs-tag="t-p"]{
	border-left: solid 1em rgba(255,255,255,0.4);
	margin-top: 0;
	box-shadow: none;
}
[docsjs-tag="h-d"],[docsjs-tag="t-p"]:first-child{
	margin-top: 0;
}
[docsjs-tag="t-l"]{
	position: relative;
	background-color: rgba(255,255,255,0.8);
	padding: 0.83333333em;
	padding-right: 3em;
	font-size: 1.2em;
	cursor: pointer;
}
[docsjs-tag="t-l"] + *, [docsjs-tag="menu"] + *{
	border-top: none;
}
[docsjs-tag="t-x"]{
	border-top: #E0E0E0 solid 1px;
}
[docsjs-tag="t-x"],[docsjs-tag="e-g"],[docsjs-tag="e-x"]{
	position: relative;
	background-color: #FFF;
	padding: 1em;
	overflow: hidden;
}

/* e-x/e-g support */
[docsjs-tag="e-x"][docsjs-state="min"],[docsjs-tag="e-g"][docsjs-state="min"]{
	padding-top: 0;
	padding-bottom: 0;
	height: 0;
}
[docsjs-tag="ebefore"]{
	position: relative;
	background-color: #FFF;
	height: 1.75em;
	line-height: 1.75em;
	padding-left: 2.4em;
	border-top: #E0E0E0 solid 1px;
	cursor: pointer;
}
[docsjs-tag="button-ebefore"]{
	position: absolute;
	height: 1em;
	width: 1em;
	margin-left: -1.4em;
	top: 0; bottom: 0; margin-top: auto; margin-bottom: auto;
	cursor: pointer;
}
[docsjs-tag="efiller"]{
	position: relative;
}

/* Cloud9 Ace (aka c-d) styles */
[docsjs-tag="c-d"]{
	position: relative;
	width: 100%;
	padding: 1.25em;
	padding-top: 0; padding-bottom: 0;
	margin-left: -1.25em;
	background-color: rgba(40,40,40,0.02) !important;
	font-family: 'Source Code Pro', monospace;
}
.ace_active-line, .ace_gutter-active-line{
	background-color: rgba(40,40,40,0.04) !important;
}
.ace_gutter{
	background-color: rgba(40,40,40,0.02) !important;
}
.ace_scroll-left{
	box-shadow: none !important;
	border-left: 1px #E0E0E0 solid;
}
pre{
	display: inline;
	font-size: 0.8em;
	font-family: 'Source Code Pro', monospace;
	padding: 0.2em;
	background: rgba(40,40,40,0.04);
}

/* Buttons */
[docsjs-tag="button-minimize"],[docsjs-tag="button-menu"]{
	position: absolute;
	font-size: 1.6em;
	height: 1em;
	width: 1em;
	border: solid 0.4em transparent;
	left: 0; right: 0; margin-left: auto; margin-right: 0;
	top: 0; bottom: 0; margin-top: auto; margin-bottom: auto;
	cursor: pointer;
}
[docsjs-tag="button-menu"]{
	opacity: 0;
	-o-transition: opacity 300ms;
	-ms-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-webkit-transition: opacity 300ms;
    transition: opacity 300ms;
}
[docsjs-tag="button-menu"][docsjs-state="active"]{
	opacity: 1;
}
[docsjs-tag="button-parent"]{
	background-color: transparent;
	height: 1em;
	width: 1em;
	position: relative;
}
[docsjs-tag="button-child"]{
	background-color: #000;
	border-color: #000;
	color: #000;
	position: absolute;
	border-style: solid;
	width: 0.1em;
	height: 0.1em;
	border-width: 0.075em;
	-webkit-border-radius: 0.1em;
	-moz-border-radius: 0.1em;
	border-radius: 0.1em;
	left: 0; right: 0; top: 0; bottom: 0; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto;
}

/* Buttons in sidebars */
[docsjs-tag="column-filler"] [docsjs-tag="button-child"]{
	background-color: #FFF;
	border-color: #FFF;
	color: #FFF;
}

/* Sidebars */
[docsjs-tag="column-left"],[docsjs-tag="column-right"]{
	height: 100%;
	top: 0;
}
[docsjs-tag="column-handle"]{
	position: absolute;
	top: 0;
	height: 100%;
	width: 2em;
	cursor: pointer;
	cursor: ew-resize;
}
[docsjs-tag="column-left"] [docsjs-tag="column-handle"]{
	left: 100%;
	margin-left: -1em;
}
[docsjs-tag="column-right"] [docsjs-tag="column-handle"]{
	margin-left: -1em;
}
[docsjs-tag="column-handle-inner"]{
	position: absolute;
	height: 100%;
	width: 0.4em;
	display: none;
	box-shadow: 0 0 6px 2px rgba(0,0,0,0.25);
	left: 0; right: 0; margin-left: auto; margin-right: auto;
	z-index: 3;
}
[docsjs-tag="column-filler"]{
	position: relative;
	background-color: rgba(40,40,40,0.85);
	box-shadow: 0 0 6px 2px rgba(0,0,0,0.25);
	z-index: 1;
	color: #FFF;
}
[docsjs-tag="column-content"]{
	position: relative;
	background-color: rgba(240,240,240,0.7);
	padding: 1em;
	overflow: hidden;
	box-shadow: 0 0 6px 2px rgba(0,0,0,0.25);
	box-sizing: border-box;
	*behavior: url(https://raw.github.com/Schepp/box-sizing-polyfill/master/boxsizing.htc);
}
[docsjs-tag="column-content"] [docsjs-tag="t-l"]{
	background: none;
	padding-left: 0;
	padding-right: 0;
	border-bottom: solid 0.05em rgba(255,255,255,0.95);
}

/* Menu in sidebar */
[docsjs-tag="column-content"] > [docsjs-tag="menu"]{
	padding: 0;
}
[docsjs-tag="column-left"] [docsjs-tag="menu"]{
	background-color: transparent;
	border-bottom: none;
}

/* Menu */
[docsjs-tag="menu"]{
	position: relative;
	background-color: #FFF;
	border-bottom: #E0E0E0 solid 1px;
	padding: 1em;
	overflow: hidden;
}
[docsjs-tag='menu-preferences']{
	position: relative;
	width: 100%;
	text-align: center;
}
[docsjs-tag='menu-preferences-item']{
	display: inline-block;
	cursor: pointer;
	font-size: 1.8em;
	width: 1em;
	height: 1em;
	padding: 0.25em;
	padding-top: 0;
	opacity: 1;
}
[docsjs-tag='menu-title']{
	line-height: 1.8em;
}
[docsjs-tag='menu-title'][docsjs-state='youarehere']{
	font-weight: 700;
}
[docsjs-tag='menu-item']{
	border-left: solid 0.05em #E0E0E0;
	padding-left: 0.5em;
	overflow: hidden;
}
[docsjs-tag='menu-item'][docsjs-state='min']{
	height: 2.8em;
	border-bottom: solid 0.05em #E0E0E0;
}
[docsjs-tag='menu-item']:hover{
	border-left: solid 0.05em #888;
	cursor: pointer;
}